{{ partial "default_head.html" . }}

<div class="post">
  {{- if .Params.categories }}
    <span class="post-date post-categories post-taxonomy">
      {{- range (.GetTerms "categories") }}
	<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    </span>
  {{ end -}}
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">
    {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
    {{- if .Params.author }}
    by <a href="#" >{{ .Params.author }}</a>
    {{ end -}}
  </span>

  {{ .Content }}
  <hr>

  {{- if .Params.tags }}
  <span class="post-info">Tags: </span>
  <p class="post-info post-tags post-taxonomy">
    {{- range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{- end }}
  </p>
  {{ end -}}

  {{- if .Params.author }}
  <p class="post-info author-info">
    Post by {{ .Params.author }}
  </p>
  {{ end -}}

  {{- if .Site.DisqusShortname }}
  <h2>Comments</h2>
  {{ template "_internal/disqus.html" . }}
  {{ end -}}
</div>

{{ partial "default_foot.html" . }}
